.block {
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 5px;
    vertical-align: middle;
    overflow: hidden;
    position: relative;

    &.active {
        border-color: red;
    }
}
