.block {
    display: inline-block;
    width: 500px;
    height: 500px;
    border: 1px solid;
    cursor: pointer;
    margin: 5px;
    vertical-align: middle;
    overflow: hidden;

    &.active {
        border-color: red;
    }
}
