// navbar
$navbarWidth: 200px;
// propsbar
$propsbarWidth: 320px;

$lineColor: #e8e8e8;

.editor {
    color: #000;

    :global {
        header {
            border-bottom: 1px solid $lineColor;
        }

        main {
            position: absolute;
            top: 51px;
            bottom: 0;
            width: 100%;

            .navbar, .propsbar {
                position: absolute;
                top: 0;
                bottom: 0;
                width: $propsbarWidth;
            }

            .navbar {
                left: 0;
            }

            .propsbar {
                right: 0;
            }

            .viewport {
                position: absolute;
                top: 0;
                bottom: 0;
                left: $navbarWidth;
                right: $propsbarWidth;
                border-left: 1px solid $lineColor;
                border-right: 1px solid $lineColor;
            }
        }
    }
}
