.navbar {
    color: #000;
    width: 120px;

    :global {
        .ant-tabs {
            height: 100%;

            .ant-tabs-content {
                position: absolute;
                bottom: 0;
                top: 45px;
            }
        }
    }
}
