.slide {
    background: transparent;

    :global {
        .blank {
            height: 20px;
        }

        .body {
            padding: 0 15px;

            .content {
                height: 128px;
                border: 1px solid #ddd;
            }
        }
    }
}