// navbar
$navbarWidth: 320px;
$hiddenWidth: 0;

// propsbar
$propsbarWidth: 320px;

$lineColor: #e8e8e8;

.editor {
    color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;

    :global {
        .header {
            border-bottom: 1px solid $lineColor;
            height: 51px;
            flex: none;
        }

        main {
            flex: 1;
            display: flex;

            .sidebar-right {
                width: $propsbarWidth;
                flex: none;

                &.hidden {
                    width: $hiddenWidth;
                }
            }

            .exhibition-area {
                display: flex;
                flex: 1;

                .sidebar-left {
                    // flex: 1;
                    width: $navbarWidth;
                    flex: 0 1 auto;

                    &.hidden {
                        width: $hiddenWidth;
                    }
                }

                .main-viewport {
                    width: 1200px;
                    flex: 1;
                }
            }
        }
    }
}
