// navbar
$navbarWidth: 320px;
// propsbar
$propsbarWidth: 320px;

$lineColor: #e8e8e8;

.editor {
    color: #000;

    :global {
        .header {
            border-bottom: 1px solid $lineColor;

            &.hidden {
                margin-top: -51px;
            }
        }

        .header.hidden ~ main {
            top: 0;
        }

        main {
            position: absolute;
            top: 51px;
            bottom: 0;
            width: 100%;

            .sidebar {
                position: absolute;
                height: 100%;

                &.left {
                    width: $navbarWidth;

                    &.hidden {
                        left: -$navbarWidth;
                    }
                }

                &.right {
                    width: $propsbarWidth;
                    right: 0;

                    &.hidden {
                        right: -$propsbarWidth;
                    }
                }
            }

            .navbar, .propsbar {
                height: 100%;
            }

            .navbar {
                left: 0;
                width: $navbarWidth;
                border-right: 1px solid $lineColor;
            }

            .propsbar {
                right: 0;
                width: $propsbarWidth;
                border-left: 1px solid $lineColor;
            }

            .viewport {
                position: absolute;
                top: 0;
                bottom: 0;
                left: $navbarWidth;
                right: $propsbarWidth;
                // background: lightblue;
            }

            .sidebar.left.hidden ~ .viewport {
                left: 0;
            }

            .sidebar.right.hidden ~ .viewport {
                right: 0;
            }
        }
    }
}
